<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>717848026454-c7qveuh6qkpfs908p8tbi216cct1tos8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717848026454-c7qveuh6qkpfs908p8tbi216cct1tos8</string>
	<key>API_KEY</key>
	<string>AIzaSyAEpAB2Hbim9JK1c0GR9trdMlpRQuY8o9w</string>
	<key>GCM_SENDER_ID</key>
	<string>717848026454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DollarLogger</string>
	<key>PROJECT_ID</key>
	<string>dollar-logger-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dollar-logger-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717848026454:ios:14a8759c07e036bc</string>
	<key>DATABASE_URL</key>
	<string>https://dollar-logger-dev.firebaseio.com</string>
</dict>
</plist>